[Unit]
Description=Dynamic DNS

[Service]
Type=oneshot
DynamicUser=yes
StateDirectory = %N
WorkingDirectory = %S/%N
ExecStart=/bin/python3 /home/joseph/dyndns/dyndns.py
StandardOutput=inherit
StandardError=inherit
