Source: bun-dns
Section: devel
Priority: optional
Maintainer: Joseph Redmond <>
Build-Depends: 
 debhelper-compat (= 13),
 dh-python,
 pybuild-plugin-pyproject,
 python3-all,
 python3-setuptools,
Standards-Version: 4.7.3
Homepage: https://github.com/MrNerdy42/bun-dns

Package: bun-dns
Architecture: all
Multi-Arch: foreign
Depends: 
  ${misc:Depends},
  ${shlibs:Depends}
Description: auto-update Porkbun DNS records
