Source: bun-dns
Section: python
Priority: optional
Maintainer: Joseph Redmond <>
Build-Depends: debhelper-compat (= 12)
Standards-Version: 4.5.0
Homepage: https://github.com/MrNerdy42/bun-dns

Package: bun-dns
Architecture: all
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Automatically update Porkbun DNS records with your current public IP (IPv4 only).
