#!/usr/bin/make -f
# You must remove unused comment lines for the released package.
#export DH_VERBOSE = 1
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

%:
	dh $@ --with python3

override_dh_auto_install:
	python3 -m venv debian/bun-dns/opt/bun-dns/venv
	debian/bun-dns/opt/bun-dns/venv/bin/pip install -r requirements.txt
	cp bun-dns.py debian/bun-dns/opt/bun-dns/